---
layout: base.njk
title: Security
description: Simple is secure.
---

<h1>SECURITY</h1>

<div class="groove-card groove-card--yellow">
<p class="mb-0 text-lg text-bold">SIMPLE IS SECURE</p>
<p class="mt-1">Simplicity scales, complexity breeds bugs. Simple systems are easier to audit, understand, and verify.</p>
</div>

<h2>COMPLIANCE</h2>
<div class="groove-card">
    <p class="text-lg text-bold mb-0">SOC 2 TYPE II</p>
    <p>IN PROGRESS</p>
</div>

<h2>PRIVACY</h2>

<div class="groove-card groove-card--yellow">
    <p class="text-lg text-bold mb-0">WE PROTECT YOUR PRIVACY</p>
    <p class="mt-1">We will never sell your data. We don't even want to have it.</p>
</div>

<h2>YOUR DATA</h2>
<ul>
    <li>We don't store your code</li>
    <li>Metadata deleted after 30 days</li>
    <li>Everything encrypted</li>
</ul>

<h2>REPORT ISSUES</h2>
<p>Security: <a href="mailto:security@codegroove.dev">security@codegroove.dev</a></p>
<p>Urgent: Signal +1 678-608-0428</p>

