---
layout: base.njk
title: Security
description: Simple is secure.
---

<h1 style="margin-bottom: 20px;">SECURITY</h1>

<div class="groove-card">
<p style="margin: 0; font-size: 20px; font-weight: bold;">SIMPLE IS SECURE</p>
<p style="margin-top: 15px; font-size: 16px;">Simplicity scales, complexity breeds bugs. Simple systems are easier to audit, understand, and verify.</p>
</div>

<h2 style="font-size: 24px; letter-spacing: -1px;">COMPLIANCE</h2>
<div class="groove-card">
    <p style="font-size: 20px; font-weight: bold; margin: 0;">SOC 2 TYPE II</p>
    <p>IN PROGRESS</p>
</div>

<h2 style="font-size: 24px; letter-spacing: -1px;">PRIVACY</h2>

<div class="groove-card">
    <p style="font-size: 20px; font-weight: bold; margin: 0;">WE PROTECT YOUR PRIVACY</p>
    <p style="margin-top: 15px;">We will never sell your data. We don't even want to have it.</p>
</div>

<h2 style="font-size: 24px; letter-spacing: -1px;">YOUR DATA</h2>
<ul>
    <li>We don't store your code</li>
    <li>Metadata deleted after 30 days</li>
    <li>Everything encrypted</li>
</ul>

<h2 style="font-size: 24px; letter-spacing: -1px;">REPORT ISSUES</h2>
<p>Security: <a href="mailto:security@codegroove.dev">security@codegroove.dev</a></p>
<p>Urgent: Signal +1 678-608-0428</p>

